@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color: #F6F7F8;
}

::selection {
  background: #dba1a0;
}

::-moz-selection {
  background: #dba1a0;
}

h3,
h4 {
  font-weight: bold;
  line-height: 1.5em;
  margin: 0;
}

h3 {
  letter-spacing: 6px;
  margin: 40px 0 20px;
}
@media(max-width: 327px) {
  h3 {
    font-size: 13px;
  }
}

h4 {
  letter-spacing: 1px;
}

.mbr-buttons--right .mbr-buttons__btn,
.mbr-buttons--right .mbr-buttons__link {
  margin-right: 5px;
}

.btn.btn-custom {
  color: white !important;
  border-color: #E81035 !important;
  background: #E81035 !important;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px
}

.btn.btn-custom:hover {
  background: #D9534F !important;
  color: #fff !important;
  border-color: #D9534F !important;
  background: rgba(0, 0, 0, .3);
}

.mbr-navbar--relative .mbr-navbar__section,
.mbr-navbar--stuck .mbr-navbar__section {
  height: 80px;
  background: rgba(255, 255, 255, .5);
  z-index: 7;
}

.mbr-navbar--stuck .mbr-navbar__brand {
  display: block;
}

.mbr-navbar__brand,
.navbar-brand {
  display: none;

  -webkit-transition: all .2s ease-in-out 0s;
  -o-transition: all .2s ease-in-out 0s;
  transition: all .2s ease-in-out 0s;

  width: 142px;
  height: 48px;
  background-image: url('../../images/logo-hero-p.png');
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.intro-overlay {
  background-color: rgba(34, 34, 34, .5);
}

.intro {
  color: #fff;
}

.intro h1 {
  width: 500px;
  height: 170px;
  text-indent: -9999px;
  background-image: url('../../images/logo-hero.png');
  background-size: cover;
  margin: -60px auto 0;
}

.intro .intro__subtext {
  font-size: 26px;
}
@media(max-width: 670px) {
  .intro h1 {
    width: 400px;
    height: 136px;
  }

  .intro .intro__subtext {
    font-size: 20px;
  }
}
@media(max-width: 550px) {
  .intro h1 {
    background-image: url('../../images/logo-hero-m.png');

    width: 300px;
    height: 102px;
  }

  .intro .intro__subtext {
    font-size: 20px;
  }
}
@media(max-width: 443px) {
  .intro h1 {
    width: 200px;
    height: 68px;
  }

  .intro .intro__subtext {
    font-size: 18px;
  }
}
@media(max-width: 328px) {
  .intro h1 {
    width: 100px;
    height: 34px;
  }

  .intro .intro__subtext {
    font-size: 14px;
  }
}

.intro .icon-arrow-down {
  fill: #fff;
  width: 66px;
  height: 66px;
}

.intro .btn {
  font-size: 15px;
  padding: 12px 20px;
}

.navbar.navbar-default {
  border-radius: 0;
  border-right: none;
  border-left: none;
  border-top: none;
}

.nav > li > a {
  font-weight: bold;
  line-height: 160%;
}

.nav > li > a:after {
  content: "";
  display: block;
  width: 100%;

  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: center center 0;
  -moz-transform-origin: center center 0;
  -ms-transform-origin: center center 0;
  transform-origin: center center 0;
  -webkit-transition: all .15s ease-out 0s;
  -o-transition: all .15s ease-out 0s;
  transition: all .15s ease-out 0s;
  border-bottom: 2px solid;

}

.nav > li > a:focus:after,
.nav > li > a:hover:after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.navbar-nav a {
  text-decoration: none;
}

#navbar {
  -webkit-transition: all .2s ease-in-out 0s;
  -o-transition: all .2s ease-in-out 0s;
  transition: all .2s ease-in-out 0s;

  width: 100%;
  z-index: 4;
}

.hide-header .mbr-navbar--stuck .mbr-navbar__section,
.mbr-navbar--relative .mbr-navbar__section {
  background: rgba(255, 255, 255, 0);
  z-index: 0;
}

.hide-header .mbr-navbar__brand,
.hide-header .mbr-navbar__item {
  display: none;
}

.hide-header .navbar .btn-inverse .btn {
  opacity: 1;
}

.fixed-navbar #navbar {
  position: fixed !important;
  top: 0 !important;
}

/* .fixed-navbar .mbr-navbar__section,
.fixed-navbar .mbr-navbar__brand {
  display: none;
} */

.fixed-navbar .about {
  padding-top: 100px;
}

.navbar .btn-inverse .btn {
  opacity: 0;
}

.custom-navbar {
  padding: 13px !important;
}

.icon.button-arrow-right {
  width: 16px;
  height: 12px;
  margin-left: -5px;
  margin-bottom: -2.8px;
  fill: #337AB7;
}

a.btn-see-more:hover .icon.button-arrow-right {
  fill: #335E85;
}

.call-to-action {
  color: #fff !important;
  background-color: rgb(60, 60, 60);
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 30px 0;
}

.call-to-action img {
  border-radius: 6px;
}

.call-to-action p {
  margin-top: 35px;
  color: #fff;
}

.call-to-action a.btn {
  width: 100%;
  color: #fff;
}
@media(min-width: 861px) {
  .call-to-action p {
    margin-top: 0;
  }

  .call-to-action a.btn {
    width: auto;
  }
}

.members ul.faces {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.members ul.faces li {
  list-style: none;
}

.members ul.faces li.member-face img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: solid 3px white;
  margin-right: -15px;
}
@media(max-width: 611px) {
  .members ul.faces li.member-face img {
    width: 55px;
    height: 55px;
  }
}
@media(max-width: 537px) {
  .members ul.faces li.member-face img {
    width: 45px;
    height: 45px;
  }
}
@media(max-width: 458px) {
  .members ul.faces li.member-face img {
    width: 35px;
    height: 35px;
  }
}

.members ul.faces > li:nth-last-child(1) {
  width: 87px;
  height: 75px;
  margin-left: 25px;
}

.members ul.faces li:nth-last-child(1) ul {
  margin-top: 4px;
  padding: 0;
}

.members ul.faces li:nth-last-child(1) ul li.member-see-all {
  margin-top: 8px;
}

.members ul.faces li:nth-last-child(1) ul li.member-face-sm {
  float: left;
}

.members ul.faces li:nth-last-child(1) ul li.member-face-sm:nth-child(1) {
  margin-left: 12px;
}

.members ul.faces li:nth-last-child(1) ul li.member-face-sm img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 0 0 -6px;
  border: solid 2px white;

  -webkit-transition: all .2s ease-in-out 0s;
  -o-transition: all .2s ease-in-out 0s;
  transition: all .2s ease-in-out 0s;
}

.members ul.faces li:nth-last-child(1) li.member-see-all a {
  width: 106px;
  display: block;
  border: solid 1px #efefef;
  border-radius: 5px;
  font-size: 12px;
  line-height: 33px;
  text-align: center;
  background-color: #f8f8f8;
  margin: 0 0 0 -5px;
  text-decoration: none;
}

.members ul.faces li:nth-last-child(1) li.member-see-all a:hover {
  background-color: #efefef;
}

.content-header-with-options {
  display: flex;
  align-items: center;
}

.left-bs-dropdow {
  left: -71px;
  top: 31px;
}

.content-header-with-options > div:nth-last-child(1) {
  flex: 2;
  text-align: right;
}

.content-header-with-options .content-btn-group a {
  text-decoration: none;
}

.content-header-with-options .content-btn-group a.active {
  background-color: #efefef;
}

.container {
  color: #777;
  font-size: 17px;
  line-height: 27px;
}

.content-panel {
  border: solid 1px #efefef;
  padding: 20px;
  border-radius: 6px;
  background-color: #fff;
  position: relative;

  -webkit-transition: box-shadow .25s;
  transition: box-shadow .25s;
}

.content-panel:hover {
  -webkit-box-shadow: 1px 1px 22px -1px rgba(0,0,0,0.1);
  -moz-box-shadow: 1px 1px 22px -1px rgba(0,0,0,0.1);
  box-shadow: 1px 1px 22px -1px rgba(0,0,0,0.1);
  top: -1px;
}

.meetup-panel {
  display: flex;
  margin-bottom: 30px;
}

.meetup-panel .data {
  margin-right: 10px;
}

.meetup-panel .data .data-info {
  padding: 5px 15px;
  border-radius: 6px;
  background-color: #F6F7F8;
  border: solid 1px #DEE1E3;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  float: left;
}

.meetup-panel .data .data-info .day {
  color: #E81035;
  font-size: 20px;
  display: block;
  text-align: center;
  margin-bottom: -12px;
}

.meetup-panel .data .data-info .month {
  text-transform: uppercase;
  font-size: 13px;
}

.meetup-panel .small {
  color: #A8AEB3;
  font-size: 14px;
}

.meetup-panel .info .place {
  display: flex;
}

.meetup-panel .info .place div:nth-child(1) {
  margin-right: 10px;
}

.meetup-panel .info .place h4 {
  margin: 0;
  font-size: 16px;
  color: #666;
}

.mbr-gallery {
  margin-bottom: 30px;
  clear: both;
}

.mbr-gallery-layout-default {
  background-color: rgb(76, 105, 114);
}

.icon-gallery {
  fill: #fff;
  width: 30px;
  height: 30px;
}

.icon-gallery.arrow {
  width: 43px;
  height: 52px;
  margin-left: -12px;
}

.icon-gallery.cancel {
  width: 30px;
  height: 30px;
  margin-left: -5px;
  margin-top: 11px;
}

.material-item-wrapper {
  margin-top: -35px;
}

.material-item-wrapper .material-item {
  margin-top: 35px;
}

.material-item .palestrante {
  height: 88px;
  padding: 10px;
  overflow: hidden;
}

.material-item .palestrante .animation-overlay {
  float: left;
  background: #fff;
  margin-left: -10px;
  position: relative;
  width: 30px;
}

.material-item .palestrante img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-right: 15px;
  border: solid 3px white;
  position: relative;
}

.material-item .palestrante .info {
  padding-left: 33px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 8px 21px 7px 39px;
  font-size: 14px;
  margin-top: 6px;
  background-color: #efefef;
  z-index: 2;
  float: left;
  margin-left: -200px;

  -webkit-transition: all .15s ease 0s;
  -o-transition: all .15s ease 0s;
  transition: all .15s ease 0s;
}

.material-item:focus .palestrante .info {
  margin-left: 20px;
}

.material-item a .icon {
  height: 10px;
}

.palestre {
  background-image: url('../../images/mbr-1620x1080.jpg');
  color: #fff;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  text-shadow: 3px 3px 3px #000;
  padding-top: 40.8px;
  padding-bottom: 40.8px;
}

.newsletters {
  text-align: center;
  padding: 20px;
}

.newsletters .form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.newsletters .form button,
.newsletters .form input {
  margin-bottom: 10px;
}

.newsletters .form div:nth-last-child(1) button {
  width: 100%;
}

.newsletters input::placeholder {
  color: #bcbaba;
  font-size: 15px;
}
@media(min-width: 550px) {
  .newsletters .form {
    flex-direction: row;
  }

  .newsletters .form div:nth-child(1) {
    flex: 2;
  }

  .newsletters .form div:nth-last-child(1) {
    width: 135px;
    padding-left: 7px;
  }
}
