@mixin event-buttons {
  .buttons-sm {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    @media (min-width: 1088px) {
      display: none;
    }
  }

  .buttons-lg {
    display: none;
    @media (min-width: 1088px) {
      display: flex;
    }
  }

  .buttons-lg,
  .buttons-sm {
    a.ver-agenda {
      color: white;
      border: solid 1px;
      padding: 10px 15px;
      min-width: 134px;

      display: inline-block;
      margin-bottom: 10px;

      &:hover {
        -webkit-box-shadow: 0 0 23px -4px rgba(31, 170, 0, 0.7);
        -moz-box-shadow: 0 0 23px -4px rgba(31, 170, 0, 0.7);
        box-shadow: 0 0 23px -4px rgba(31, 170, 0, 0.7);
      }
    }

    .inscrevase {
      color: white;
      padding: 10px 15px;
      min-width: 160px;
      display: inline-block;
      margin-bottom: 10px;
      margin-left: 8px;
      background: #1faa00;
      border: solid 1px;
      border-color: #1faa00;

      &:hover {
        background: #64dd17;
        border-color: #64dd17;
      }
    }
  }

  .buttons {
    // border: solid;
    @media (min-width: 500px) {
      display: flex;
      flex-direction: column;
    }

    align-items: center;
    justify-content: center;
    @media (min-width: 1088px) {
      flex-direction: column;
      margin-left: 20px;
      max-width: 400px;
    }
    @media (min-width: 1240px) {
      margin-left: 154px;
    }

    .apoio {
      margin-bottom: 20px;

      .lista {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        > a.logo {
          color: #fff;
          display: block;
          border: solid 5px;
          height: 40px;
          width: 88px;
          outline: none;
          margin: 5px;
          @media (min-width: 425px) {
            height: 50px;
            width: 100px;
          }
          @media (min-width: 1088px) {
            height: 50px;
            width: 138px;
            margin: 10px;
          }

          background: #fff;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;

          text-indent: -999px;
          overflow: hidden;

          &.foregon {
            background-image: url("./evento-devpp-the-conference/apoio/foregon.png");
          }

          &.forspace {
            background-image: url("./evento-devpp-the-conference/apoio/forspace-partner.png");
          }

          &.cobmais {
            background-image: url("./evento-devpp-the-conference/apoio/cobmais-novo-site.png");
          }

          &.inova-prudente {
            background-image: url("./evento-devpp-the-conference/apoio/inova-prudente.png");
          }

          &.sicoob {
            background-image: url("./evento-devpp-the-conference/apoio/sicoob.png");
            background-color: transparent;
            border: 0;
          }

          &.sw {
            background-image: url("./evento-devpp-the-conference/apoio/sw.png");
          }

          &.influx {
            background-image: url("./evento-devpp-the-conference/apoio/influx.png");
            background-color: transparent;
            border: none;
          }

          &.nucleo-base {
            background-image: url("./evento-devpp-the-conference/apoio/Nucleo_Base.png");
            background-color: transparent;
            border: none;
          }
        }
      }
    }

    .btn-inscrevase-lg {
      display: none;
      @media (min-width: 1088px) {
        display: block;
      }
      width: 100%;

      a {
        color: white;

        &.btn {
          display: none;
          @media (min-width: 1088px) {
            display: block;
          }

          color: white;
          padding: 10px 15px;
          min-width: 160px;
          display: inline-block;
          margin-bottom: 10px;
          margin-left: 8px;
          background: #1faa00;

          &:hover {
            background: #64dd17;
          }
        }
      }
    }
  }
}
