.icon {
  display: inline-block;

  *[class^='icon'] {
    stroke-width: 0;
    stroke: currentColor;
    fill: #fff;
  }

  .icon-gallery {
    width: 30px;
    height: 30px;

    &.arrow {
      width: 43px;
      height: 52px;
      margin-left: -12px;
    }

    &.cancel {
      width: 30px;
      height: 30px;
      margin-left: -5px;
      margin-top: 11px;
    }
  }
}
