section.members {
  .loading {
    display: flex;
    flex-wrap: wrap;
    min-height: 500px;
  }

  ul.faces {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 55x;
    height: 55x;

    li {
      list-style: none;

      &.member-face img {
        background: #fff;
        border-radius: 50%;
        border: solid 3px white;
        margin-right: -15px;

        width: 35px;
        height: 35px;
        @media(min-width: 458px) {
          width: 45px;
          height: 45px;
        }
      }
    }
  }

  a.small-faces {
    text-decoration: none;
    padding: 10px;
    position: relative;
    display: flex;
    border: solid 1px #efefef;
    background-color: #f8f8f8;
    align-items: center;
    width: fit-content;
    border-radius: 6px;

    &:hover {
      background-color: #efefef;
    }

    div.member-face-sm {
      display: none;
      @media(min-width: 336px) {
        display: block;
      }

      img {
        border: solid 3px white;
        border-radius: 50%;
        margin: 0 0 0 -6px;
        width: 25px;
        height: 25px;
        @media(min-width: 458px) {
          width: 35px;
          height: 35px;
        }
      }
    }

    div.see-all-link {
      margin-left: 10px;
    }
  }
}
