section.members {
  ul.faces {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    li {
      list-style: none;

      &.member-face img {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        border: solid 3px white;
        margin-right: -15px;
        @media(max-width: 611px) {
          width: 55px;
          height: 55px;
        }
        @media(max-width: 537px) {
          width: 45px;
          height: 45px;
        }
        @media(max-width: 458px) {
          width: 35px;
          height: 35px;
        }
      }
    }

    & > li:nth-last-child(1) {
      width: 87px;
      height: 75px;
      margin-left: 25px;

      ul {
        margin-top: 4px;
        padding: 0;

        li.member-see-all {
          margin-top: 8px;

          a {
            width: 106px;
            display: block;
            border: solid 1px #efefef;
            border-radius: 5px;
            font-size: 12px;
            line-height: 33px;
            text-align: center;
            background-color: #f8f8f8;
            margin: 0 0 0 -5px;
            text-decoration: none;

            &:hover {
              background-color: #efefef;
            }
          }
        }

        li.member-face-sm {
          float: left;

          &:nth-child(1) {
            margin-left: 12px;
          }

          img {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin: 0 0 0 -6px;
            border: solid 2px white;

            -webkit-transition: all .2s ease-in-out 0s;
            -o-transition: all .2s ease-in-out 0s;
            transition: all .2s ease-in-out 0s;
          }
        }
      }
    }
  }
}