section.intro {
  .arrow {
    .icon {
      display: inline-block;
      stroke-width: 0;
      stroke: currentColor;
      fill: #fff;

      width: 66px;
      height: 66px;
    }

    bottom: 71px;
    left: 0;
    line-height: 1px;
    padding: 0 20px;
    position: absolute;
    width: 100%;
    z-index: 3;
  }
}
