@charset "UTF-8";

/* =========================================
 =========================================
 ======== MATERIALIZE PARALLAX ===========
 =========================================
 ========================================= */
@import "~materialize-css/sass/components/color";
@import "~materialize-css/sass/components/variables";
@import "~materialize-css/sass/components/global";
@import "~materialize-css/sass/components/typography";

/* =========================================
 =========================================
 ======== HERO.CSS =======================
 =========================================
 ========================================= */
@import "./evento-devpp-the-conference/css/event-date-place-mixin";
@import "./evento-devpp-the-conference/css/event-palestrantes-mixin";
@import "./evento-devpp-the-conference/css/event-buttons-mixin";

section.intro {
  display: table;
  width: 100%;
  -webkit-perspective: 1px;
  perspective: 1px;

  .content-box {
    display: table-cell;
    float: none;
    height: 100vh;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    padding: 41px 0;

    .parallax-container {
      height: 100vh;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .hero-content {
      position: relative;
      z-index: 7;
      color: #fff;
      margin-top: 30px;
      @media(min-width: 720px) {
        margin-top: initial;
      }

      h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 5vw;
        @media(min-width: 1800px) {
          font-size: 4vw;
        }

        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.87);
      }
      @include event-date-place();

      .event-row {
        div {
          margin: 5px;
        }

        &.row-1 {
          margin-top: 10px;
          @media (min-width: 1088px) {
            display: flex;
            justify-content: center;
          }
          @include event-palestrantes();
          @include event-buttons();
        }

        &.row-2 {
          max-width: 1134px;
          margin: 14px auto !important;
          display: none;
          @media(min-width: 833px) {
            display: block;
          }

          .galera {
            align-items: center;
            display: flex;

            flex-direction: column;
            @media (min-width: 1080px) {
              flex-direction: row;
            }

            h6 {
              font-size: 13px;
              margin-right: 10px;
            }

            .fotos-wrapper {
              display: flex;

              div.foto {
                width: 50px;
                height: 50px;
                border: 2px solid #fff;
                border-radius: 50%;
                background-size: contain;
                background-repeat: no-repeat;

                &.calistro {
                  background-image: url("./evento-devpp-the-conference/galera/calistro.jpg");
                }

                &.felipealmeida {
                  background-image: url("./evento-devpp-the-conference/galera/felipe-almeida.jpg");
                }

                &.blini {
                  background-image: url("./evento-devpp-the-conference/galera/felipeblini-devpp-inova.jpg");
                }

                &.marquini {
                  background-image: url("./evento-devpp-the-conference/galera/gustavo-marquini.jpg");
                }

                &.marcelo {
                  background-image: url("./evento-devpp-the-conference/galera/marcelo-vieira.jpg");
                }

                &.carneiro {
                  background-image: url("./evento-devpp-the-conference/galera/paulo.jpg");
                }

                &.wesley {
                  background-image: url("./evento-devpp-the-conference/galera/wesley.jpg");
                }

                &.phillipe {
                  background-image: url("./evento-devpp-the-conference/galera/phillipe-santana.jpg");
                }
              }
            }

          }
        }
      }

    }

    .intro-overlay {
      background: rgba(34, 34, 34, 0.8);
      position: absolute;
      z-index: 1;
      height: 100vh;
      width: 100%;
      top: 0;
    }

    .arrow {
      display: none;
      @media(min-width: 450px) {
        display: block;
      }
      bottom: 2px;
      left: 0;
      line-height: 1px;
      padding: 0 20px;
      position: absolute;
      width: 100%;
      z-index: 3;

      &.arrow-floating a {
        display: block;
        -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
        -o-animation: floating-arrow 1.6s infinite ease-in-out 0s;
        animation: floating-arrow 1.6s infinite ease-in-out 0s;
      }
      @-webkit-keyframes floating-arrow {
        from {
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }

        65% {
          -webkit-transform: translateY(11px);
          transform: translateY(11px);
        }

        to {
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
      }
      @-o-keyframes floating-arrow {
        from {
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }

        65% {
          -webkit-transform: translateY(11px);
          transform: translateY(11px);
        }

        to {
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
      }
      @keyframes floating-arrow {
        from {
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }

        65% {
          -webkit-transform: translateY(11px);
          transform: translateY(11px);
        }

        to {
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
      }
    }
  }
}

.mobile {
  section.intro {
    &.content-box {
      background-attachment: scroll !important;
    }
  }
}
