section.footer {
  margin-top: 60px;

  .container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > div {
      padding: 20px;
      text-align: center;

      &.links-wrapper {
        @media(max-width: 825px) {
          margin-top: -67px;
        }
      }

      strong.title {
        display: inline-block;
        background: url("footer--titles.png") no-repeat;
        text-indent: -999px;
        height: 22px;
        background-position-x: 4px;

        &.address {
          background-position-y: 5px;
          width: 125px;
        }

        &.contact {
          background-position-y: -25px;
          width: 73px;
        }

        &.social {
          background-position-y: -58px;
          width: 131px;
        }

        &.links {
          background-position-y: -86px;
          width: 120px;
        }
      }
    }
    @media(min-width: 826px) {
      flex-direction: row;

      div {
        text-align: left;
      }
    }

    .logo-rodape {
      display: block;
      background: url('./footer--logo.png');
      width: 100px;
      height: 34px;
      text-indent: -9999px;
      background-size: cover;
      margin: 0 auto;
      @media(min-width: 826px) {
        margin: 0;
      }
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;

        a:hover {
          color: #fff;
        }
      }
    }
  }
}
