section.footer {
  margin-top: 60px;

  .container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      @media (min-width: 991px) {
        flex-direction: row;
      }

      > div {
        margin-bottom: 40px;

        @media (min-width: 991px) {
          margin-bottom: 0;
          padding: 41px;
        }

        @media (min-width: 1200px) {
          padding: 66px;
        }
      }
    }

    > div {
      padding: 20px;
      text-align: center;

      strong.title {
        display: inline-block;
        background: url("titles.png") no-repeat;
        text-indent: -9999px;
        height: 22px;
        background-position-x: 4px;

        &.address {
          background-position-y: 5px;
          width: 125px;
        }

        &.contact {
          background-position-y: -25px;
          width: 73px;
        }

        &.social {
          background-position-y: -58px;
          width: 131px;
        }

        &.links {
          background-position-y: -86px;
          width: 120px;
        }
      }
    }

    .logo-rodape {
      display: block;
      background: url("./logo.png");
      width: 100px;
      height: 34px;
      text-indent: -9999px;
      background-size: cover;
      margin: 0 auto;
      @media (min-width: 991px) {
        margin: 0;
      }
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;

        a:hover {
          color: #fff;
        }
      }
    }
  }
}
