$call-to-talk-width: 218px;

section.call-to-talk {
  margin-top: 30px;
  text-align: center;
  text-shadow: 3px 3px 3px #000;

  .parallax-container {
    height: $call-to-talk-width;
    position: absolute;
    width: 100%;
    z-index: 1;

    .parallax {
      img {
        width: 150%;
        @media(min-width: 555px) {
          width: 100%;
        }
      }
    }
  }

  .call-to-talk-content-wrapper {
    height: $call-to-talk-width;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;

    .call-to-talk-content {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      padding: 0 20px;

      h3 {
        margin: 0 0 20px;
      }
    }
  }
}
