section.sponsors {
  text-align: center;

  ul {
    padding: 0;
    display: flex;
    justify-content: center;

    li {
      list-style: none;
      float: left;
      margin-left: 10px;

      img {
        border: solid 1px #ccc;
        padding: 5px;
        height: 75px;
      }

      &.eventou {
        a {
          display: flex;
          align-content: center;
          align-items: center;
          border: solid 1px #ccc;
          padding: 5px;
          height: 75px;
        }

        svg {
          fill: #F1583D;
          height: 50px;
        }
      }
    }
  }
}
